<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener | thejaywhy </title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">

   </head>

   <body>
      <div class="container">
        <h1>URL Shortener Microservice</h1>
        <p>
        A solution to the <a href="https://www.freecodecamp.org/challenges/url-shortener-microservice">URL Shortener MS</a> challenge.
        </p>   
     <h3>Features</h3>
      <ul>
        <li>Pass a URL as a parameter and return a shortened URL in the JSON response</li>
        <li>For an invalid URL that doesn't follow the 'http://www.example.com' format, the JSON response will contain an error instead.</li>
        <li>When I visit the shortened URL, it will redirect me to my original link</li>
      </ul>
    <h3>Example Usage</h3>
      <div class="codeblock">
        <h4>
          Create via FORM
        </h4>
        <pre>
        curl -d "url=https%3A%2F%2Ffreecodecamp.org" https://jy-fcc-url-short.glitch.me/api/shorten
        {"original":"https://freecodecamp.org","short":"412557052"}
        </pre>
        <h4>
          Create via JSON
        </h4>
        <pre>
        curl -d '{"url": "https://freecodecamp.org"}' -H "Content-Type: application/json"  https://jy-fcc-url-short.glitch.me/api/shorten
        {"original":"https://freecodecamp.org","short":"412557052"}
        </pre>
        <h4>
          Get Shortented
        </h4>
        <pre>
        curl -v https://jy-fcc-url-short.glitch.me/412557052
        HTTP/1.1 302 Found
        Date: Sat, 03 Feb 2018 18:20:21 GMT
        Content-Type: text/plain; charset=utf-8
        Content-Length: 46
        Connection: keep-alive
        x-powered-by: Express
        location: https://freecodecamp.org
        vary: Accept

        Found. Redirecting to https://freecodecamp.org
        </pre>
        <h4>
          Get Object from API
        </h4>
        <pre>
        curl -H "Content-Type: application/json" https://jy-fcc-url-short.glitch.me/api/412557052
        {"original":"https://freecodecamp.org","short":"412557052"}%
        </pre>
        <h4>
          Invalid URL sent
        </h4>
        <pre>
        curl -d "url=nopenopenope.dsaf" https://jy-fcc-url-short.glitch.me/api/shorten
        {"error":"Invalid url"}
        </pre>
        <h4>
          Short link Not found
        </h4>
        <pre>
        curl https://jy-fcc-url-short.glitch.me/apple
        {"error":"Not found"}
        </pre>
      </div>
    </div>
   </body>

</html>
